#demo
    padding: 60px
    .box
        border: 2px solid #08742c
        height: 180px
        width: 180px
        background-color: #3e4e9f
        .minibox
            display: flex
            justify-content: center
            width: 90px
            height: 90px
            margin: 42px
            background-color: #16187f
            transition: 2s
            h1
                color: #ffff
                font-size: 20px
                font-weight: 700
            &:hover
                width: 130px
                height: 130px
                margin: 22px
                padding: 22px

    .box3
        display: flex
        justify-content: space-around
        padding: 50px 0
        .minibox
            width: 160px
            height: 85px
            border: 4px solid #a74898
            background-color: #a74898
            transition: 1s
            h1
                color: #ffff
                margin: 5px 0 0 -1px
                font-size: 20px
            &:hover
                background-color: #651058
                cursor: pointer
        @media screen and ( max-width: 800px )
            .minibox
                width: 120px
                height: 60px
                background-color: #5f60bcc0
                border: 1px solid #5f60bcc0
                display: flex
                align-items: center
                border-radius: 5px
                font-weight: 500

        @media screen and ( max-width: 500px  )
            .minibox
                width: 70px
                height: 60px
                border: 1px solid #7e7979
                background-color: #331528
                display: flex
                align-items: center
                h1
                    font-size: 10px

    .box4
        padding: 30px 0
        justify-content: space-around
        width: 200px
        height: 200px
        background-color: #a94729
        border: 1px solid #a94729
        border-radius: 100px
        transition: 1s
        h1
            margin: 80px
            color: #ffff
            font-size: 25px
        &:hover
            border-radius: 31px
    @media screen and ( max-width: 800px )
        .box4
            width: 60px
            height: 60px
            background-color: #ada741c0
            border-radius: 100px
